.nav-links a {
    text-decoration: none;
    color: #191a23;
}

.nav-links .request-quote {
    padding: 18px 28px;
    border: #191a23 solid 2px;
    border-radius: 10px;
    font-weight: thin;
}

.container2 {
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 60px;
    gap: 40px;
}

.container2-text {
    max-width: 50%;
    gap: 100px;
}

.container2 img {
    width: 48%;
    height: auto;
}

.container2 h1 {
    font-size: 60px;
    margin-bottom: 25px;
    line-height: 1.3;
    font-weight: 500;
    max-width: 550px;
    margin-bottom: 40px;
}

.container2 p {
    font-size: 18px;
    margin-bottom: 30px;
    max-width: 450px;
    line-height: 1.3;
}

.paragraph {
    display: flex;
    align-items: center;
    padding: 60px;
}

.paragraph p {
    font-size: 18px;
    max-width: 450px;
    line-height: 1.3;
}

.container2 .book-consultation {
    display: inline-block;
    padding: 18px 34px;
    background: #000000;
    color: #fff;
    text-decoration: none;
    border-radius: 12px;
}

.button .bc {
    display: inline-block;
    justify-content: center;
    padding: 18px 170px;
    background: #000000;
    color: #fff;
    text-decoration: none;
    border-radius: 12px;
    margin: 50px;
}


.nav-link2 {
    display: flex;
    flex-wrap: wrap;
    justify-content: space-between;
    align-items: center;
    margin: 60px 80px;
    gap: 40px;
}

.nav-link2 img {
    filter: grayscale(100%);
    justify-content: center;
    width: 200px;
}

.dribble {
    width: 126.37px;
    padding-bottom: 15px;
}

.Netflix {
    width: 125.24px;
}

.zoom {
    width: 110.57px;
    margin-top: 0px;
}

.paragraph {
    display: none;
}

.button .bc {
    display: none;
}

@media (max-width: 1130px) {
    .container2 {
        flex-direction: column;
        justify-content: center;
    }

    .container2 img {
        margin: auto;
    }

    .container2 p {
        display: none;
    }

    .paragraph {
        display: block;
    }

    .container2 .book-consultation {
        display: none;
    }

    .button .bc {
        display: block;
        margin-top: auto;
    }
}

@media (max-width: 780px) {
    .container2 {
        padding: 0px 60px;
    }

    .container2 h1 {
        font-size: 40px;
    }

    .container2 img {
        width: 300px;
    }

}