.nav-links a {
    text-decoration: none;
    color: #191a23;
}

.nav-links .request-quote {
    padding: 18px 28px;
    border: #191a23 solid 2px;
    border-radius: 10px;
    font-weight: thin;
}



.img {
    display: none;
}

.container2 {
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 60px 0;
    gap: 40px;
    margin: 60px 80px;
}

.container2 text {
    max-width: 50%;
    gap: 100px;
}

.container2 img {
    width: 100%;
}

.container2 h1 {
    font-size: 60px;
    margin-bottom: 25px;
    line-height: 1.3;
    font-weight: 500;
    max-width: 550px;
    margin-bottom: 40px;
}

.container2 p {
    font-size: 18px;
    margin-bottom: 30px;
    max-width: 450px;
    line-height: 1.3;
}

.container2 .book-consultation {
    display: inline-block;
    padding: 18px 34px;
    background: #000000;
    color: #fff;
    text-decoration: none;
    border-radius: 12px;
}

.nav-link2 {
    display: flex;
    justify-content: space-between;
    align-items: center;
    gap: 50px;
    padding: 40px 0;
    margin: 60px 80px;
}

.nav-link2 img {
    filter: grayscale(100%);
    justify-content: center;
    width: 100%;
}

.dribble {
    width: 126.37px;
    height: 66px;
    padding-bottom: 15px;
}

.Netflix {
    width: 125.24px;
    height: 40px;
}

.zoom {
    width: 110.57px;
    height: 40px;
    margin-top: 0px;
}