* {
    box-sizing: border-box;
}

body {
    background-color: rgb(246, 246, 238);
    min-height: 100px;
    padding: 40px;
}

.row {
    display: flex;
    justify-content: space-evenly;
    flex-wrap: wrap;
    min-height: 100%;
    padding: 40px;
}

.container {
    position: relative;
}

.container div {
    width: 100%;
    padding: 15px;
    box-sizing: border-box;
    background-color: rgb(255, 255, 255);
    border-radius: 20px;
    margin: 5px;
}

.trip-image {
    width: 100%;
    height: 180px;
    object-fit: cover;
    display: block;
    margin: 0 auto 10px;
    border-radius: 10px;
}

.trip-info {
    padding: 15px 20px;
    width: 200px;
}

.trip-info h3 {
    margin: 0;
    font-size: 18px;
    color: #333;
    width: 200px;
}

.date {
    color: #888;
    font-size: 13px;
    margin: 6px 0;
    width: 200px;
}

.people {
    color: #777;
    font-size: 14px;
    margin: 15px;
}

.progress-card {
    position: absolute;
    left: 200px;
    bottom: 20px;
    background: #fff;
    height: fit-content;
    padding: 15px 20px;
    width: 100px;
    box-shadow: 0 8px 20px rgba(0, 0, 0, 0.1);
}

.status {
    color: #888;
    font-size: 12px;
    margin-bottom: 5px;
}

.progress-card h4 {
    margin: 0;
    color: #333;
    font-size: 16px;
}

.percent {
    color: #6a5acd;
    font-weight: 500;
}