* {
    box-sizing: border-box;
}

body {
    background-color: rgb(246, 246, 238);
    min-height: 100px;
    padding: 40px;
    font-family: 'Poppins';
}

.row {
    display: flex;
    justify-content: space-evenly;
    flex-wrap: wrap;
    min-height: 100%;
    padding: 40px;
    gap: 150px;
}

.container {
    position: relative;
    width: 300px;
}

.container div {
    box-sizing: border-box;
    border-radius: 20px;
}

.card {
    padding: 15px;
    background-color: rgb(255, 255, 255);
}

.icons {
    width: 140px;
    margin-left: -15px;
}

.trip-image {
    width: 100%;
    height: 100px;
    object-fit: cover;
    display: block;
    margin: 0 auto 10px;
    border-radius: 10px;
}

.trip-info {
    padding: 15px 20px;
    width: 200px;
}

.trip-info h3 {
    margin: 0;
    font-size: 18px;
    color: #333;
    width: 200px;
}

.date {
    color: #888;
    font-size: 13px;
    margin: 6px 0;
    width: 200px;
}

.people {
    color: #777;
    font-size: 14px;
    margin: 15px;
}

.progress-card {
    position: absolute;
    left: 200px;
    bottom: 50px;
    background: #fff;
    height: fit-content;
    box-shadow: 0 8px 20px rgba(0, 0, 0, 0.1);
    max-width: 300px;
    width: 250px;
    padding: 15px;
    display: flex;
    margin: 5px;
}

.peopleH {
    display: flex;
}

.heart {
    width: 20px;
    height: 20px;
    margin-top: 18px;
    margin-left: 70px;
}

.status {
    color: #888;
    font-size: 12px;
    margin-bottom: 5px;
    width: fit-content;
}

.circle-img {
    margin: 10px;
    width: 45px;
    height: 45px;
    border-radius: 50%;
    object-fit: cover;
    bottom: 100px;
}

.progress-card.card-info {
    margin: 5px;
    margin-top: -30px;
}

.progress-card h4 {
    margin: 0;
    color: #333;
    font-size: 16px;
    width: fit-content;
}

.progress-card>p {
    width: fit-content;
}

.percent {
    color: #6a5acd;
    font-weight: 500;
    size: 10px;
}

.progress-bar {
    background: #eee;
    height: 8px;
    width: 100%;
    overflow: hidden;
}

.progress {
    height: 100%;
    background: #9b7bff;
    border-radius: 4px;
}

@media (max-width: 1024px) {
    .cards-row {
        flex-wrap: wrap;
        justify-content: center;
    }

    .progress-card {
        right: -30px;
    }
}

@media (max-width: 700px) {
    .trip-card {
        width: 280px;
    }

    .progress-card {
        right: 0;
        bottom: -70px;
    }
}