.nav-links a {
    text-decoration: none;
    color: #191a23;
    font-weight: 500;
}


.nav-links a.active {
    background-color: #ccff00;
    border: #ccff00 solid 2px;
    border-radius: 10px;
    padding: 0px 5px;
}


.hero {
    background-color: #f4f4f4;
    border-radius: 25px;
    margin: 60px 80px;
    padding: 60px;
}

.hero-content {
    display: flex;
    justify-content: space-between;
    align-items: center;
    gap: 60px;
    flex-wrap: wrap;
}

.hero-text1 {
    flex: 1;
    text-align: center;
}

.hero-text1 h1 {
    display: none;
}

.hero-img {
    width: 80%;
    max-width: 400px;
    height: auto;
}

.hero-text {
    flex: 1;
}

.hero-text h1 {
    font-size: 40px;
    font-weight: 700;
    margin-bottom: 20px;
}

.hero-text p {
    color: #333;
    max-width: 600px;
    font-size: 100%;
    line-height: 1.7;
}

.success-story {
    display: flex;
    justify-content: space-between;
    align-items: flex-start;
    background-color: #191a23;
    color: #fff;
    margin: 60px 80px;
    padding: 60px;
    border-radius: 25px;
    gap: 60px;
    flex-wrap: wrap;
}

.story-text {
    flex: 1;
}

.star {
    display: flex;
    color: #191a23;
    border-radius: 20px;
    font-weight: 700;
    font-size: 20px;
    gap: 8px;
    justify-content: left;
}

.star img {
    width: 40px;
    margin-bottom: -10px;
    margin-left: -23px;
}

.story-text .star {
    display: none;
    color: #ccff00;
    justify-content: left;
}

.highlight {
    display: inline-block;
    background-color: #ccff00;
    color: #191a23;
    padding: 0px 20px;
    border-radius: 4px;
    font-weight: 600;
    font-size: 25px;
    margin-top: 14px;
}

.story-text h2 {
    margin: 20px 0;
    font-size: 25px;
    font-weight: 700;
    color: #fff;
}

.story-text p {
    color: #ccc;
    margin-bottom: 25px;
    max-width: 420px;
    font-size: 15px;
}

.read-link {
    color: #ccff00;
    text-decoration: none;
    font-weight: 600;
    font-size: 16px;
    margin-left: 6px;
    vertical-align: middle;
}

.read-link img {
    width: 40px;
    margin-bottom: -17px;
}

.read-link2 {
    color: #ccff00;
    text-decoration: none;
    font-weight: 600;
    font-size: 16px;
    margin-left: 6px;
    vertical-align: middle;
}

.read2 img {
    width: 40px;
    margin-bottom: -17px;
}

/* STATS GRID */
.stats {
    display: grid;
    grid-template-columns: repeat(2, 1fr);
    gap: 20px;
    flex: 1;
    min-width: 300px;
}

.stat-box {
    background: #ffffff;
    border-radius: 15px;
    padding: 30px;
    text-align: center;
    justify-content: center;
}

.stat-box h3 {
    color: #000000;
    font-size: 2rem;
    margin-bottom: 8px;
}

.stat-box p {
    color: #000000;
    font-size: 0.95rem;
}

.stats .read2 {
    display: none;
}

/* RESPONSIVE DESIGN */
@media (max-width: 1000px) {
    header {
        padding: 25px 40px;
    }

    nav .nav-links {
        display: none;
    }

    .menu-toggle {
        display: block;
    }

    .hero {
        margin: 40px 20px;
        padding: 40px;
    }

    .success-story {
        margin: 40px 20px;
        padding: 40px;
    }

    .story-text .highlight {
        display: block;
        padding: 15px 20px;
        margin: 10px 60px 0px 0px;
    }

    .quote-btn,
    .menu-toggle {
        display: inline-flex;
        align-items: center;
    }
}

@media (max-width: 900px) {
    .hero {
        background-color: #ffffff;
    }

    .hero-content {
        flex-direction: column;
        justify-content: flex-start;
        text-align: start;
    }

    .hero-text1 h1 {
        display: block;
        font-size: 35px;
        margin-bottom: 20px;
        text-align: left;
        font-size: 50px;
        margin: -80px 0px 10px;
    }

    .hero-text h1 {
        display: none;
    }

    .hero-img {
        width: 100%;
        max-width: 300px;
    }

    .success-story {
        flex-direction: column;
        text-align: center;
    }

    .stats {
        grid-template-columns: 100%;
    }

    .story-text p {
        margin: 20px 20px 0px 50px;
        text-align: left;
    }

    .story-text h2 {
        margin: 20px 20px 0px 50px;
        text-align: left;
    }

    .story-text .highlight {
        display: none;
    }

    .story-text .star {
        display: block;
        text-align: left;
    }

    .read-link {
        display: none;
    }

    .stats {
        justify-content: center;
        display: grid;
        gap: 20px;
        margin: 0 auto;
    }

    .stats .read2 {
        display: block;
    }

    .highlight,
    .highlight1 {
        display: inline-block;
        margin-bottom: 10px;
    }

    .quote-btn {
        display: none;
    }
}