* {
    margin: 0;
    padding: 0;
    box-sizing: border-box
}

body {
    font-family: 'Archivo', sans-serif;
    background-color: #f7f6f1;
}

.header {
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 15px 40px;
    background-color: #fff;
    border-bottom: 1px solid #eee;
}

.logo {
    display: flex;
    align-items: center;
    gap: 8px;
    font-weight: 700px;
    color: #333;
}

.logo img {
    height: 30px;
}

.navbar {
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 10px 50px;
    background-color: #fff;
    border-bottom: 1px solid #ddd;
}

.nav-links {
    display: flex;
    gap: 25px;
}

.nav-links a {
    text-decoration: none;
    color: #333;
    font-weight: 500;
}

.nav-links :hover {
    color: #ff652f;
}

.nav-links a.active {
    color: #ff652f;
}


.nav-contact {
    display: flex;
    align-items: center;
    gap: 15px;

}

.phone {
    font-weight: 600;
    color: #333;
    cursor: pointer;
}

.btn {
    background-color: #ff652f;
    color: #fff;
    border: none;
    padding: 8px 16px;
    border-radius: 5px;
}

.btn:hover {
    background-color: #e9551c;
    cursor: pointer;
}

/* Responsive Design */
.menu-toggle {
    display: none;
    font-size: 24px;
}

@media (max-width: 1279px) {
    .nav-links {
        display: none;
        flex-direction: column;
        gap: 10px;
        position: absolute;
        top: 60px;
        left: 0;
        right: 0;
        background: #fff;
        padding: 15px;
        border-top: 1px solid #ddd;
    }

    .menu-toggle {
        display: block;
    }

    .nav-contact {
        display: flex;
        position: absolute;
        right: 100px;
        left: auto;
    }

    .btn {
        display: none;
    }
}

/* Phone number visibility */
@media (max-width: 601px) {
    .nav-links {
        display: none;
        flex-direction: column;
        gap: 10px;
        position: absolute;
        top: 60px;
        background: #fff;
        padding: 15px;
        border-top: 1px solid #ddd;
    }

    .nav-links.active {
        display: block;
    }

    .menu-toggle {
        display: block;
    }

    .nav-contact {
        display: none;
        align-items: right;
    }

    .btn {
        display: none;
    }
}